[submodule "vendor/hump"]
	path = vendor/hump
	url = https://github.com/vrld/hump.git
[submodule "vendor/SUIT"]
	path = vendor/SUIT
	url = https://github.com/vrld/SUIT.git
[submodule "vendor/wave"]
	path = vendor/wave
	url = https://github.com/Ulydev/wave.git
[submodule "vendor/sti"]
	path = vendor/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
[submodule "vendor/lodash"]
	path = vendor/lodash
	url = https://github.com/axmat/lodash.lua.git
[submodule "vendor/bump"]
	path = vendor/bump
	url = https://github.com/kikito/bump.lua.git
[submodule "vendor/inspect"]
	path = vendor/inspect
	url = https://github.com/kikito/inspect.lua.git
[submodule "vendor/anim8"]
	path = vendor/anim8
	url = https://github.com/kikito/anim8.git
[submodule "vendor/caste"]
	path = vendor/caste
	url = https://github.com/acleverpun/caste.git
[submodule "vendor/secs"]
	path = vendor/secs
	url = https://github.com/acleverpun/secs.git
[submodule "vendor/baton"]
	path = vendor/baton
	url = https://github.com/tesselode/baton.git
[submodule "vendor/spine-runtimes"]
	path = vendor/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes.git
