[submodule "vendor/hump"]
	path = vendor/hump
	url = https://github.com/vrld/hump.git
[submodule "vendor/SUIT"]
	path = vendor/SUIT
	url = https://github.com/vrld/SUIT.git
[submodule "vendor/lovetoys"]
	path = vendor/lovetoys
	url = https://github.com/rosshadden/lovetoys.git
	branch = feature/getters-and-setters
[submodule "vendor/tactile"]
	path = vendor/tactile
	url = https://github.com/tesselode/tactile.git
[submodule "vendor/wave"]
	path = vendor/wave
	url = https://github.com/Ulydev/wave.git
[submodule "vendor/sti"]
	path = vendor/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
